
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-group panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a style="color:#fff;" data-toggle="collapse" data-parent="#accordion" href="#collapseMessageBasicInfo" aria-expanded="true" aria-controls="collapseMessageBasicInfo">
                     车辆信息 <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
            </h4>
        </div>
        <div id="collapseMessageBasicInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form class="ng-pristine ng-valid form-horizontal" role="form">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="carno" class="col-sm-2 control-label">车牌：</label>
                            <div class="col-sm-10">
                                <input type="text" id="No" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">车辆颜色：</label>
                            <div class="col-sm-10">
                                <input type="text" id="Color" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="Category" class="col-sm-2 control-label">车辆类型：</label>
                            <div class="col-sm-10">
                                <input type="text" id="Category" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="Belong" class="col-sm-2 control-label">车辆归属地：</label>
                            <div class="col-sm-10">
                                <input type="text" id="Belong" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="OriginalEmissionValues" class="col-sm-2 control-label">原始排放：</label>
                            <div class="col-sm-10">
                                <input type="text" id="OriginalEmissionValues" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="ProductModel" class="col-sm-2 control-label">匹配产品型号：</label>
                            <div class="col-sm-10">
                                <input type="text" id="ProductModel" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="ModifiedCompany" class="col-sm-2 control-label">改装公司：</label>
                            <div class="col-sm-10">
                                <input type="text" id="ModifiedCompany" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="UserInfo" class="col-sm-2 control-label">车主名称：</label>
                            <div class="col-sm-10">
                                <input type="text" id="UserInfo" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="IndividualCompany" class="col-sm-2 control-label">个人/公司：</label>
                            <div class="col-sm-10">
                                <input type="text" id="IndividualCompany" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="Telphone" class="col-sm-2 control-label">联系方式：</label>
                            <div class="col-sm-10">
                                <input type="text" id="Telphone" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="ModifiedTime" class="col-sm-2 control-label">改造完成日期：</label>
                            <div class="col-sm-10">
                                <input type="text" id="ModifiedTime" class="form-control" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</div>



<script type="text/javascript">
    seajs.use('carinfo');
</script>
