<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }

    #allmap {
        width: 100%;
        height: 700px;
    }

    p {
        margin-left: 5px;
        font-size: 14px;
    }

</style>
<form id="search_form" class="ng-pristine ng-valid" method="post">
    <div class="col-md-12">

        <div class="form-group col-md-3">
            <label class="col-sm-4 control-label">城市选择：</label>
            <div class="col-sm-8">
                <select id="Belong" name="Belong" class="form-control ng-pristine ng-valid" ng-model="queryObj.appCategoryId" ng-options="cat.id as cat.name for cat in appCategories"></select>
            </div>
        </div>
    </div>
</form>
<div id="allmap"></div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=q2HUo15ZyO2CB7fZ90n0p5gxFVRGOmZa"></script>

<script type="text/javascript">
    seajs.use('map');
</script>